{:min-bb-version "1.13.220"
 :paths ["script"]
 :deps {lread/status-line {:git/url "https://github.com/lread/status-line.git"
                           :sha "eace48e2e0fcc65a3986d696fb0b910fa5790a1c"}
        version-clj/version-clj {:mvn/version "2.0.3"}
        wevre/natural-compare {:mvn/version "0.0.10"}}
 :tasks {:requires ([clojure.string :as str]
                    [lread.status-line :as status])
         :enter (let [{:keys [name]} (current-task)] (status/line :head "TASK %s %s" name (str/join " " *command-line-args*)))
         :leave (let [{:keys [name]} (current-task)] (status/line :detail "\nTASK %s done." name))
         :cli helper.cli/base-opts

         ;; commands
         clean             {:exec-fn clean/task             :doc "delete all build work"}
         download-deps     {:exec-fn download-deps/task     :doc "bring down Clojure deps"}
         dev-jvm           {:exec-fn dev-repl/dev-jvm       :doc "launch jvm nREPL for development"}
         dev-cljs          {:exec-fn dev-repl/dev-cljs      :doc "launch cljs nREPL for development"}
         lint-kondo        {:exec-fn lint-kondo/task        :doc "lint with clj-kondo" }
         lint-eastwood     {:exec-fn lint-eastwood/task     :doc "lint with Eastwood"}
         lint-splint       {:extra-deps {io.github.noahtheduke/splint {:mvn/version "1.25.0"}}
                            :task noahtheduke.splint/-main
                            :doc "lint with splint"}
         test-clj          {:exec-fn test-clj/task          :doc "run tests against a version of Clojure"}
         test-cljs         {:exec-fn test-cljs/task         :doc "run tests against a ClojureScript environment"}
         outdated          {:exec-fn outdated/task          :doc "report on outdated Clojure and npm dependencies"}}}
