{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {;;
  ;; Clojure versions we support (discovered by scripts by their clojure- prefix)
  ;;
  :clojure-1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
  :clojure-1.11 {:override-deps {org.clojure/clojure {:mvn/version "1.11.4"}}}
  :clojure-1.12 {:override-deps {org.clojure/clojure {:mvn/version "1.12.6"}}}
  ;; Candidate release is :clojure-pre-* (ex. clojure-pre-1.13.0) (if any)
  :clojure-pre-1.13 {:override-deps {org.clojure/clojure {:mvn/version "1.13.0-alpha6"}}}

  ;;
  ;; Test Runners
  ;;
  :test-common {:extra-paths ["test"]}

  :clj-test-runner {:extra-deps {io.github.cognitect-labs/test-runner
                                 {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                    :main-opts ["-m" "cognitect.test-runner"]}

  ;; OLD: for reference only
  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "RELEASE"}
                      lambdaisland/kaocha-cljs {:mvn/version "RELEASE"}
                      org.clojure/clojurescript {:mvn/version "RELEASE"}}}}}
