{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "RELEASE"}
                      lambdaisland/kaocha-cljs {:mvn/version "RELEASE"}
                      org.clojure/clojurescript {:mvn/version "RELEASE"}}}}}
