{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {;; we use babashka/neil for project attributes
  ;; publish workflow references these values (and automatically bumps patch component of version)
  :neil {:project {:version "1.15.12" ;; describes last release and is template for next release
                   :name org.flatland/ordered
                   ;; not neilisms - could potentially conflict with new neilisms
                   :github-coords clj-commons/ordered}}

  ;;
  ;; Clojure versions we support (discovered by scripts by their clojure- prefix)
  ;;
  :clojure-1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
  :clojure-1.11 {:override-deps {org.clojure/clojure {:mvn/version "1.11.4"}}}
  :clojure-1.12 {:override-deps {org.clojure/clojure {:mvn/version "1.12.6"}}}
  ;; Candidate release is :clojure-pre-* (ex. clojure-pre-1.13.0) (if any)
  :clojure-pre-1.13 {:override-deps {org.clojure/clojure {:mvn/version "1.13.0-alpha6"}}}

  ;;
  ;; ClojureScript version we test with (and support)
  ;;
  :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.12.145"}}}

  ;;
  ;; REPL to support bb dev-jvm & dev-cljs tasks, see script/dev_repl.clj
  ;;
  :nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "1.7.0"}
                cider/cider-nrepl {:mvn/version "0.62.2"}}
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}

  :nrepl/jvm
  {:extra-deps {refactor-nrepl/refactor-nrepl {:mvn/version "3.14.0"}}
   :jvm-opts ["-Djdk.attach.allowAttachSelf"]
   :main-opts  ["-m" "nrepl.cmdline"
                "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"
                "-i"]}

  :nrepl/cljs ;; note shadow-cljs does its own thing, this is for a REPL with
              ;; support for plain old ClojureScript
  {:extra-deps {cider/piggieback {:mvn/version "0.7.0"}}
   :jvm-opts ["-Djdk.attach.allowAttachSelf"]
   :main-opts ["-m" "nrepl.cmdline"
               "--middleware" "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"
               "-i"]}

  ;;
  ;; Linters
  ;;
  :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.08.04"}}
              :override-deps {org.clojure/clojure {:mvn/version "1.12.3"}}
              :main-opts ["-m" "clj-kondo.main"]}

  :eastwood {:extra-deps {jonase/eastwood {:mvn/version "1.4.3"}}
             :main-opts ["-m" "eastwood.lint" {:source-paths ["src"]
                                               :add-linters [:performance]}]}

  ;;
  ;; Test Runners
  ;;
  :test-common {:extra-paths ["test"]}

  :clj-test-runner {:extra-deps {io.github.cognitect-labs/test-runner
                                 {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                    :main-opts ["-m" "cognitect.test-runner"]}

  :cljs-test {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.1"}}
              :main-opts ["-m" "cljs-test-runner.main"]}

  ;;
  ;; Deployment
  ;;
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.14"}}
          :extra-paths ["src" "build"]
          :ns-default build}

  ;; keep deploy deps separate from build deps; this avoids `bb download-deps` failures on windows
  ;; when downloading jackson (and other conflicting) deps.
  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.5"}}}

  ;;
  ;; Maintenance support
  ;;
  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}
                          ;; to rid ourselves of logger warnings
                          org.slf4j/slf4j-simple {:mvn/version "2.0.18"}}
                      :main-opts ["-m" "antq.core" "--ignore-locals"]}}}
